<launch>

<arg name="/image/raw/on" default="false" />
<arg name="/image/compress/on" default="true" />
<arg name="use4k" default="false" />

<node name="thetaV" pkg="theta_v_ros" type="driver" output="screen" respawn="true">
    <param name="nvdec" type="bool" value="false" />
    <param name="use4k" value="$(arg use4k)" />
    <param name="/image/raw/on" value="$(arg /image/raw/on)" />
    <param name="/image/compress/on" value="$(arg /image/compress/on)" />
    <param name="/image/compress/level" type="int" value="2" />
</node>
</launch>
